.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.audio{
    display: block;
    margin: 0 auto;
}
.imgCard{
    margin: 20px;
    box-shadow: 0px 0px 10px 0px #003459 ;
    width: 330px;
    height: 370px;
    border-radius: 10px;
}

.commentLi{
        margin: 20px;
        box-shadow: 0px 0px 5px 0px #003459;
        width: 330px;
        height: 370px;
        border-radius: 10px;
}