.footer{
    display: flex;
    align-items: flex-start;
    background-color: #0d6efd;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.contributors a {
    color: white;
    text-decoration: none;
    font-size: 20px
}

.contributors a:hover {
    color: black;
    text-shadow: 1px 1px rgb(8, 165, 237);
    text-decoration: none;
}
.contributors{
    margin: 15px;
    list-style-type: none;
}

.link {
    color: white;
}

.link:hover {
    color: lightblue;
}