.footer{
display: flex;
    align-items: flex-start;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: auto;
    margin: 0 auto;
}

.contributors a {
    color: white;
    text-decoration: none;
    font-size: 20px
}

.contributors a:hover {
    color: black;
    text-shadow: 1px 1px rgb(8, 165, 237);
    text-decoration: none;
}
.contributors{
    margin: 15px;
    list-style-type: none;
}

.link {
    color: white;
}

.link:hover {
    color: lightblue;
}