.logo{
    border: 2px solid rgb(30, 149, 200);
        border-radius: 25px;
        margin: auto;
        margin-bottom: 50px;
}
.signInForm {
    width: 35vw;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 10%;

}

.form-control {
    height: 55px;
}

.signOutForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 35vw;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}